body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Orbitron", sans-serif;
}
body,
.snake{
        background-color: rgb(48, 48, 48);
    }
#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    margin: 5px;
}

.game-border-1 {
    border: #595f43 solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}
