body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Orbitron", sans-serif;
}
body,
.snake{
        background-color: rgb(48, 48, 48);
    }
#game-board{
    border-radius: 100px;
    display: grid;
}